/* Upload */
.uploadPicturesWrapper div {
    justify-content: flex-start !important;
  }
  
  .uploadPictureContainer {
    width: 200px !important;
    height: auto !important;
    margin: 2% 5% !important;
    padding: 10px !important;
  }
  
  .uploadPictureContainer img {
    height: 200px !important;
  }

  .ant-pagination-options-size-changer.ant-select{
    display: none !important;
  }
 

  .ant-table-tbody >.tableRowColor > td {
  
    color: red;
}
  /* .ant-checkbox-inner {
    width: 35px;
    height: 35px;
    margin-left: 50px;
} */

 /* .ant-checkbox-inner, .ant-checkbox-input {
  transform: scale(3)
} */

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

.ant-modal-mask {
  background: transparent;
  pointer-events: none;
}
.ant-modal-wrap {
  pointer-events: none;
}
.ant-modal {
  pointer-events: all;
}